 @font-face {
     font-family: 'montserrat';
     font-style: normal;
     font-weight: 300;
     src: local('Montserrat'), url('../fonts/montserrat/montserrat.woff2') format('woff2'), url('../fonts/montserrat/montserrat.woff') format('woff'), url('../fonts/montserrat/montserrat.ttf') format('truetype');
 }
 
 @font-face {
     font-family: 'raleway-regular';
     font-style: normal;
     font-weight: 400;
     src: local ('Raleway'), url('../fonts/raleway/raleway-regular.woff2') format('woff2'), url('../fonts/raleway/raleway-regular.woff') format('woff'), url('../fonts/raleway/raleway-regular.ttf') format('truetype');
 }
 
 @font-face {
     font-family: 'raleway-medium';
     font-style: normal;
     font-weight: 500;
     src: local ('Raleway - Medium'), url('../fonts/raleway/raleway-medium.woff2') format('woff2'), url('../fonts/raleway/raleway-medium.woff') format('woff'), url('../fonts/raleway/raleway-medium.ttf') format('truetype');
 }
 
 @font-face {
     font-family: 'raleway-semibold';
     font-style: normal;
     font-weight: 600;
     src: local ('Raleway - Semibold'), url('../fonts/raleway/raleway-semibold.woff2') format('woff2'), url('../fonts/raleway/raleway-semibold.woff') format('woff'), url('../fonts/raleway/raleway-semibold.ttf') format('truetype');
 }
 
 @font-face {
     font-family: 'raleway-bold';
     font-style: normal;
     font-weight: 700;
     src: local ('Raleway - Bold'), url('../fonts/raleway/raleway-bold.woff2') format('woff2'), url('../fonts/raleway/raleway-bold.woff') format('woff'), url('../fonts/raleway/raleway-bold.ttf') format('truetype');
 }
 
 @font-face {
     font-family: 'raleway-extrabold';
     font-style: normal;
     font-weight: 800;
     src: local ('Raleway - ExtraBold'), url('../fonts/raleway/raleway-extrabold.woff2') format('woff2'), url('../fonts/raleway/raleway-extrabold.woff') format('woff'), url('../fonts/raleway/raleway-extrabold.ttf') format('truetype');
 }
 
 @font-face {
     font-family: 'roboto';
     font-style: normal;
     font-weight: 400;
     src: local ('Roboto'), url('../fonts/roboto/roboto.woff2') format('woff2'), url('../fonts/roboto/roboto.woff') format('woff'), url('../fonts/roboto/roboto.ttf') format('truetype');
 }
 
 body {
     margin: 0 auto;
     width: 1920px;
 }
 
 .header {
     background-color: black;
     background-image: url(../img/header-bg.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;
     padding-bottom: 403px;
 }
 
 .navigation {
     display: flex;
 }
 
 .logo-link {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 181px;
     text-decoration: none;
     background-color: transparent;
     margin-left: 376px;
     margin-top: 40px;
 }
 
 .logo-svg {
     fill: #fff;
 }
 
 .logo-txt {
     font-family: 'raleway-regular', 'Verdana', sans-serif;
     color: #ffffff;
     font-size: 34px;
     font-weight: 400;
     text-align: right;
 }
 
 .logo-link:hover .logo-svg {
     fill: #998675;
     stroke: #fff;
 }
 
 .logo-link:hover .logo-txt {
     color: #998675;
 }
 
 .logo-link:active .logo-svg {
     fill: #B0C4DE;
 }
 
 .logo-link:active .logo-txt {
     color: #B0C4DE;
 }
 
 .menu {
     display: flex;
     margin-top: 62px;
     margin-left: 190px;
 }
 
 label,
 #header-menu {
     display: none;
 }
 
 input[type="checkbox"]:checked ~ .header-menu {
     visibility: visible;
 }
 
 .header-menu {
     display: flex;
 }
 
 .menu-item {
     list-style-type: none;
     padding-right: 30px;
 }
 
 .menu-item-link {
     text-decoration: none;
     display: block;
     color: #ffffff;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 300;
 }
 
 .menu-item-link:hover {
     color: #c7b299;
 }
 
 .menu-item-link:active {
     color: #B0C4DE;
 }
 
 .purchase {
     margin-left: 63px;
     margin-top: 15px;
     margin-right: 373px;
     display: flex;
     flex-direction: row;
 }
 
 .cart {
     display: block;
     text-decoration: none;
     margin-right: 30px;
 }
 
 .cart-icon {
     fill: #ffffff;
 }
 
 .search {
     width: 24px;
     height: 24px;
     outline: none;
     color: #ffffff;
     font-family: 'montserrat', 'Verdana', sans-serif;
     background-image: url(../img/icon-search.png);
     background-size: contain;
     background-repeat: no-repeat;
     border: transparent;
     background-color: transparent;
     background-position: right;
 }
 
 .search:focus {
     width: 300px;
     transition: width 1s ease-out;
     background-position: right;
 }
 
 .cart-icon:hover {
     fill: #c7b299;
 }
 
 .cart-icon:active {
     fill: #B0C4DE;
 }
 
 .main-header {
     position: relative;
     display: flex;
     justify-content: center;
     flex-direction: row;
 }
 
 .H2 {
     display: block;
     color: #ffffff;
     font-family: 'raleway-medium', 'Verdana', sans-serif;
     font-size: 36px;
     font-weight: 400;
     margin-top: 300px;
     text-align: center;
 }
 
 .H1 {
     display: block;
     color: #ffffff;
     font-family: 'raleway-extrabold', 'Verdana', sans-serif;
     font-size: 52px;
     font-weight: 600;
     text-align: center;
     margin-top: 14px;
 }
 
 .slogan-txt {
     display: block;
     text-align: center;
     color: #ffffff;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 16px;
     font-weight: 300;
     line-height: 24px;
     width: 562px;
 }
 
 .get-started-btn {
     display: flex;
     text-decoration: none;
     width: 170px;
     min-height: 53px;
     box-shadow: inset 0 -3px 0 #736357;
     border-radius: 3px;
     background-color: #998675;
     text-align: center;
     align-self: center;
     margin-left: 250px;
     margin-top: 52px;
 }
 
 .get-started-btn:hover {
     background-color: #d2c1ad;
 }
 
 .get-started-btn:active {
     background-color: #B0C4DE;
 }
 
 .btn-txt {
     display: block;
     color: #ffffff;
     font-family: 'raleway-extrabold', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height: 23px;
     text-transform: uppercase;
     margin: auto;
 }
 
 .arrow {
     display: block;
     text-decoration: none;
 }
 
 .left {
     fill: #a2a19f;
     opacity: 0.5;
     position: absolute;
     margin-top: 395px;
     margin-left: -530px;
 }
 
 .left:hover {
     fill: #d2c1ad;
 }
 
 .left:active {
     fill: #B0C4DE;
 }
 
 .right {
     fill: #a2a19f;
     opacity: 0.5;
     position: absolute;
     margin-top: 390px;
     margin-left: 480px;
 }
 
 .right:hover {
     fill: #d2c1ad;
 }
 
 .right:active {
     fill: #B0C4DE;
 }
 
 .slides {
     display: flex;
     position: absolute;
     margin-top: 905px;
 }
 
 .dots {
     display: block;
     width: 13px;
     height: 13px;
     text-decoration: none;
     margin-right: 15px;
     background-color: #908e8f;
     border: 2px solid transparent;
     border-radius: 50%;
 }
 
 .dots:hover {
     width: 15px;
     height: 15px;
     background-color: transparent;
     border: 1px solid #d3c1ad;
 }
 
 .services {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: #ffffff;
 }
 
 .link-services {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     flex-direction: column;
     width: 266px;
     margin-top: 80px;
     margin-bottom: 80px;
     text-decoration: none;
     text-align: center;
 }
 
 .link-services:first-child {
     margin-left: 376px;
 }
 
 .link-services:last-child {
     margin-right: 376px;
 }
 
 .link-services:after {
     content: "";
     display: block;
     width: 100px;
     height: 2px;
     background-color: #f1eee9;
     align-self: center;
 }
 
 .service-icon {
     display: block;
     fill: #555555;
     align-self: center;
 }
 
 .service-header {
     display: block;
     color: #555555;
     font-family: 'raleway-semibold', 'Verdana', sans-serif;
     font-size: 22px;
     font-weight: 600;
     text-align: center;
     margin-top: 30px;
 }
 
 .link-services:hover .service-header {
     color: #c7b299;
 }
 
 .service-txt {
     display: block;
     text-align: center;
     color: #8c8c8c;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 300;
     line-height: 24px;
 }
 
 .link-services:hover .service-icon {
     fill: #c7b299;
 }
 
 .link-services:hover:after {
     background-color: #c7b299;
 }
 
 .realization {
     width: 100%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     background-color: #fbfaf8;
 }
 
 .realization-header {
     display: block;
     color: #555555;
     font-family: 'raleway-extrabold', 'Verdana', sans-serif;
     font-size: 30px;
     font-weight: 400;
     text-align: center;
     margin-top: 80px;
 }
 
 .realization-txt {
     display: block;
     width: 797px;
     text-align: center;
     color: #8c8c8c;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 16px;
     font-weight: 300;
     line-height: 28px;
     align-self: center;
 }
 
 .browsers-img {
     margin-top: 30px;
     width: 1230px;
     min-height: 482px;
     align-self: center;
     background-color: #fbfaf8;
     background-image: url(../img/browser-center.png), url(../img/browser-left.png), url(../img/browser-right.png);
     background-size: 770px 482px, 700px 400px, 700px 400px;
     background-repeat: no-repeat;
     background-position: bottom center, bottom left, bottom right;
 }
 
 .ads {
     width: 100%;
     min-height: 153px;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     background-color: #f4f5f8;
     background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
 }
 
 .ad {
     margin-top: 50px;
     margin-left: 376px;
 }
 
 .ad-header {
     display: block;
     color: #ffffff;
     font-family: 'raleway-regular', 'Verdana', sans-serif;
     font-size: 28px;
     font-weight: 400;
     padding: 0;
 }
 
 .ad-txt {
     display: block;
     color: #615855;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 18px;
     font-weight: 300;
 }
 
 .purchase-now-btn {
     display: flex;
     text-decoration: none;
     text-align: center;
     width: 173px;
     height: 53px;
     box-shadow: inset 0 -3px 0 #736357;
     border-radius: 3px;
     background-color: #998675;
     margin-top: 50px;
     margin-right: 374px;
 }
 
 .purchase-now-btn:hover {
     background-color: #d2c1ad;
 }
 
 .purchase-now-btn:active {
     background-color: #B0C4DE;
 }
 
 .purchase-now-btn-txt {
     display: block;
     color: #ffffff;
     font-family: 'raleway-extrabold', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 600;
     line-height: 23px;
     text-transform: uppercase;
     margin: auto;
 }
 
 .projects {
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding-top: 80px;
 }
 
 .projects-header {
     display: block;
     color: #555555;
     font-family: "raleway-semibold", 'Verdana', sans-serif;
     font-size: 30px;
     font-weight: 400;
     text-align: center;
 }
 
 .projects-txt {
     display: block;
     width: 80%;
     align-self: center;
     color: #8c8c8c;
     font-family: 'montserrat';
     font-size: 16px;
     font-weight: 300;
     line-height: 28px;
     text-align: center;
 }
 
 .projects-menu {
     display: flex;
     flex-direction: row;
     align-items: center;
     align-self: center;
     margin-top: 40px;
 }
 
 .projects-menu-link {
     display: block;
     text-decoration: none;
     margin-left: 10px;
     border-radius: 3px;
     border: 1px solid #ebebeb;
     width: 120px;
     height: 32px;
     color: #8c8c8c;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 300;
     line-height: 21px;
     text-align: center;
     padding-top: 10px;
 }
 
 .projects-menu-link:hover {
     background-color: #998675;
     color: #ffffff;
 }
 
 .projects-menu-link:active {
     background-color: beige;
     color: #8c8c8c;
 }
 
 .projects-preview {
     display: flex;
     flex-wrap: wrap;
     margin: 0 auto;
     padding-top: 40px;
     padding-left: 334px;
 }
 
 .latest-project {
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding-right: 30px;
     text-decoration: none;
     position: relative;
     margin-bottom: 30px;
 }
 
 .latest-project:hover .project-img {
     filter: brightness(40%);
 }
 
 .latest-project:hover .description {
     background-color: #362f2d;
 }
 
 .latest-project:hover .description:before {
     border-bottom: 10px solid #362f2d;
 }
 
 .latest-project:hover .project-descript {
     color: #ffffff;
 }
 
 .latest-project:hover .description-txt {
     color: #c7b299;
 }
 
 .project-img {
     width: 370px;
     height: 237px;
     margin: 0;
 }
 
 .description {
     background-color: #fbfaf8;
     padding-top: 30px;
     padding-left: 28px;
     padding-bottom: 27px;
     position: relative;
 }
 
 .description:before {
     content: "";
     display: block;
     border: 10px solid transparent;
     border-bottom: 10px solid #fbfaf8;
     position: absolute;
     left: 20px;
     top: -20px;
 }
 
 .project-descript {
     color: #c7b299;
     font-family: 'raleway-medium', 'Verdana', sans-serif;
     font-size: 20px;
     font-weight: 500;
 }
 
 .description-txt {
     display: block;
     color: #d1d1d1;
     font-family: 'montserrat';
     font-size: 14px;
     font-weight: 300;
     line-height: 20px;
 }
 
 .project-link,
 .project-search {
     width: 27px;
     height: 27px;
     display: none;
     -webkit-background-size: cover;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     border: none;
     background-color: transparent;
     position: absolute;
     top: 32%;
 }
 
 .project-link {
     background-image: url(../img/link-icon.png);
     left: 39%;
 }
 
 .project-search {
     background-image: url(../img/icon-search.png);
     right: 39%;
 }
 
 .latest-project:hover .project-link {
     display: block;
 }
 
 .latest-project:hover .project-search {
     display: block;
 }
 
 .load-more-btn {
     display: flex;
     align-self: center;
     text-decoration: none;
     text-align: center;
     width: 170px;
     min-height: 50px;
     box-shadow: inset 0 -3px 0 #736357;
     border-radius: 3px;
     background-color: #998675;
     margin-top: 40px;
 }
 
 .load-more-btn:hover {
     background-color: #d2c1ad;
 }
 
 .load-more-btn:active {
     background-color: #B0C4DE;
 }
 
 .load-more-btn-txt {
     display: block;
     color: #ffffff;
     font-family: 'raleway-extrabold', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height: 23px;
     text-transform: uppercase;
     margin: auto;
 }
 
 .video-block {
     margin-top: 80px;
     position: relative;
 }
 
 .video-controller {
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 553px;
     position: absolute;
     top: 210px;
     left: 685px;
 }
 
 .play-video-btn {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     border-color: transparent;
     background: url(../img/video-icon.png), url(../img/video-icon-bg.png);
     background-repeat: no-repeat;
     background-size: 70px 70px, 100px 100px;
     background-position: center, center;
     align-self: center;
     outline: none;
 }
 
 .video-header {
     display: block;
     color: #ffffff;
     font-family: 'raleway-medium', 'Verdana', sans-serif;
     font-size: 30px;
     font-weight: 500;
     align-self: center;
     margin-top: 44px;
 }
 
 .video-txt {
     display: block;
     color: #ffffff;
     font-family: 'montserrat';
     font-size: 16px;
     font-weight: 300;
     line-height: 28px;
     align-self: center;
 }
 
 .time-video {
     display: block;
     color: #c7b299;
     font-family: 'montserrat';
     font-size: 14px;
     font-weight: 400;
     line-height: 24px;
     align-self: center;
     margin-top: 40px;
 }
 
 .mobile-app {
     margin: 0 auto;
     padding-top: 195px;
     padding-left: 875px;
     padding-right: 388px;
     padding-bottom: 183px;
     background-color: #fbfaf8;
     background-image: url(../img/iPhone_in_hand.png);
     background-repeat: no-repeat;
     background-size: 423px 616px;
     background-position: 22%;
 }
 
 .mobile-app-header {
     display: block;
     color: #555555;
     font-family: 'raleway-semibold', 'Verdana', sans-serif;
     font-size: 30px;
     font-weight: 400;
 }
 
 .mobile-app-txt {
     color: #8c8c8c;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 16px;
     font-weight: 300;
     line-height: 28px;
 }
 
 .mobile-app-features {
     list-style-image: url(../img/list-marker.png);
     color: #8c8c8c;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 16px;
     font-weight: 300;
     line-height: 32px;
 }
 
 .statistic {
     margin: 0 auto;
     padding-top: 69px;
     padding-left: 496px;
     padding-right: 504px;
     background-color: #f4f5f8;
     background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
     display: flex;
     justify-content: center;
     min-height: 300px;
 }
 
 .statistic-item {
     display: flex;
     justify-content: center;
     flex-direction: column;
     margin: 0 auto;
 }
 
 .statistic-item:after {
     content: "";
     display: block;
     width: 30px;
     height: 2px;
     background-color: #ffffff;
     align-self: center;
 }
 
 .statistic-icon {
     display: block;
     fill: #968472;
     align-self: center;
 }
 
 .statistic-number {
     display: block;
     color: #ffffff;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 48px;
     font-weight: 300;
     line-height: 36px;
     align-self: center;
     margin-top: 30px;
 }
 
 .statictic-txt {
     display: block;
     color: #c7b299;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 300;
     line-height: 20px;
     text-transform: uppercase;
     align-self: center;
     margin-top: 21px;
     margin-bottom: 30px;
 }
 
 .recent-posts {
     margin: 0 auto;
     padding-top: 80px;
     padding-bottom: 80px;
 }
 
 .recent-post-header {
     display: block;
     width: 100%;
     color: #555555;
     font-family: 'raleway-semibold', 'Verdana', sans-serif;
     font-size: 30px;
     font-weight: 400;
     text-align: center;
 }
 
 .recent-post-txt {
     display: block;
     width: 757px;
     margin-left: 583px;
     margin-right: 580px;
     color: #8c8c8c;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 16px;
     font-weight: 300;
     line-height: 28px;
     text-align: center;
 }
 
 .previews {
     display: flex;
     margin: 0 auto;
     padding-left: 376px;
 }
 
 .recent-post-preview {
     width: 370px;
     position: relative;
     margin-right: 30px;
     position: relative;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
 }
 
 .recent-post-preview:hover .recent-post-img {
     filter: brightness(40%);
 }
 
 .recent-post-description {
     padding-bottom: 33px;
 }
 
 .recent-post-preview:hover .recent-post-description {
     background-color: #362f2d;
 }
 
 .post-header {
     display: block;
     color: #555555;
     font-family: 'raleway-regular', 'Verdana', sans-serif;
     font-size: 20px;
     font-weight: 500;
     padding-left: 29px;
     padding-top: 30px;
 }
 
 .recent-post-description:hover .post-header {
     color: #c7b299;
 }
 
 .post-txt {
     color: #8c8c8c;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 300;
     line-height: 22px;
     margin-left: 29px;
     display: block;
 }
 
 .recent-post-description:hover .post-txt {
     color: #ffffff;
 }
 
 .read-more-btn {
     display: block;
     text-decoration: none;
     padding-left: 30px;
     color: #c7b299;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 300;
     line-height: 20px;
     position: relative;
 }
 
 .read-more-btn:after {
     content: " ";
     display: block;
     border: 5px solid transparent;
     border-left: 5px solid #c7b299;
     position: absolute;
     left: 115px;
     top: 5px;
 }
 
 .date,
 .month {
     display: block;
     position: absolute;
     left: 20px;
 }
 
 .date {
     top: 20px;
     fill: #363636;
 }
 
 .month {
     top: 55px;
     fill: #252525;
 }
 
 .date-span {
     display: block;
     position: absolute;
     color: #ffffff;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 24px;
     font-weight: 300;
     line-height: 20px;
     top: 29px;
     left: 31px;
 }
 
 .month-span {
     display: block;
     position: absolute;
     top: 58px;
     left: 31px;
     color: #ffffff;
     font-family: 'roboto', 'Verdana', sans-serif;
     font-size: 12px;
     font-weight: 400;
     line-height: 20px;
 }
 
 .recent-post-preview:hover .date {
     fill: #c7b299;
 }
 
 .recent-post-preview:hover .month {
     fill: #a48d72;
 }
 
 .next,
 .back {
     text-decoration: none;
     margin-right: 8px;
 }
 
 .back {
     margin-left: 935px;
 }
 
 .next-btn {
     fill: #d1d1d1;
     margin-top: 40px;
 }
 
 .next-btn:hover {
     fill: #c7b299;
 }
 
 .next-btn:active {
     fill: red;
 }
 
 .logos {
     width: 100%;
     background-color: #191919;
     background-image: url(../img/prefooter-img.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     display: flex;
     margin: 0 auto;
     padding-bottom: 139px;
 }
 
 .partner-logo {
     text-decoration: none;
     display: block;
 }
 
 .partner-logo:hover {
     filter: brightness(40%);
 }
 
 .partner-logo-1 {
     margin-left: 406px;
     margin-top: 181px;
     margin-right: 90px;
 }
 
 .partner-logo-2 {
     margin-top: 140px;
     margin-right: 90px;
 }
 
 .partner-logo-3 {
     margin-top: 181px;
     margin-right: 90px;
 }
 
 .partner-logo-4 {
     margin-top: 163px;
 }
 
 .main-footer {
     width: 100%;
     min-height: 508px;
     display: flex;
     background-color: #191919;
     box-sizing: border-box;
     padding-left: 376px;
 }
 
 .about-waxom {
     margin-top: 80px;
 }
 
 .footer-logo {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 181px;
     text-decoration: none;
     background-color: transparent;
     text-align: center;
 }
 
 .footer-logo-icon {
     fill: #ffffff;
 }
 
 .footer-logo-txt {
     color: #ffffff;
     font-family: 'raleway-regular', 'Verdana', sans-serif;
     font-size: 34px;
     font-weight: 400;
     text-align: right;
     letter-spacing: -1.36px;
 }
 
 .footer-logo:hover .footer-logo-icon {
     fill: #998675;
     stroke: #fff;
 }
 
 .footer-logo:hover .footer-logo-txt {
     color: #998675;
 }
 
 .footer-logo:active .footer-logo-icon {
     fill: #B0C4DE;
 }
 
 .footer-logo:active .footer-logo-txt {
     color: #B0C4DE;
 }
 
 .about-waxom-txt {
     display: block;
     width: 258px;
     margin-top: 29px;
     color: #555555;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 300;
     line-height: 24px;
     word-wrap: break-word;
     hyphens: auto;
 }
 
 .footer-readmore-btn {
     display: block;
     text-decoration: none;
     margin-top: 33px;
     color: #d1d1d1;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     position: relative;
 }
 
 .footer-readmore-btn:after {
     content: " ";
     display: block;
     border: 5px solid transparent;
     border-left: 5px solid #d1d1d1;
     position: absolute;
     top: 4px;
     left: 85px;
 }
 
 .footer-readmore-btn:hover,
 .footer-readmore-btn:hover .footer-readmore-btn:after {
     color: #c7b299;
 }
 
 .footer-readmore-btn:active,
 .footer-readmore-btn:active .footer-readmore-btn:after {
     color: #B0C4DE;
 }
 
 .footer-recent-post {
     margin-top: 108px;
     margin-left: 40px;
     width: 271px;
 }
 
 .footer-recent-post-header {
     display: block;
     color: #ffffff;
     font-family: 'raleway-regular', 'Verdana', sans-serif;
     font-size: 24px;
     font-weight: 700;
 }
 
 .footer-recent-posts {
     display: flex;
     flex-direction: column;
     text-decoration: none;
     margin-top: 33px;
 }
 
 .footer-recent-posts:after {
     content: "";
     display: block;
     width: 270px;
     height: 1px;
     background-color: #252525;
     align-self: center;
 }
 
 .footer-recent-posts:last-child:after {
     content: "";
     display: block;
     width: 270px;
     height: 1px;
     background-color: transparent;
     align-self: center
 }
 
 .footer-recent-posts:hover .post-date {
     color: #ffffff;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 12px;
     font-weight: 300;
     line-height: 20px;
 }
 
 .footer-recent-posts:hover .post-txt {
     color: #c7b299;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 300;
     line-height: 20px;
 }
 
 .post-date {
     display: block;
     color: #363636;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 12px;
     font-weight: 300;
     line-height: 20px;
 }
 
 .post-txt {
     display: block;
     color: #555555;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 300;
     line-height: 20px;
     padding: 0;
 }
 
 .waxom-twitter {
     margin-top: 107px;
     margin-left: 38px;
     width: 267px;
 }
 
 .waxom-twitter-header {
     display: block;
     color: #ffffff;
     font-family: 'raleway-regular', 'Verdana', sans-serif;
     font-size: 24px;
     font-weight: 700;
 }
 
 .twitter-post {
     margin-top: 30px;
     display: flex;
     flex-direction: column;
 }
 
 .twitter-post:after {
     content: "";
     display: block;
     width: 270px;
     height: 1px;
     background-color: #252525;
     align-self: center;
 }
 
 .twitter-post:last-child:after {
     content: "";
     display: block;
     width: 270px;
     height: 1px;
     background-color: transparent;
     align-self: center;
 }
 
 .twit-txt {
     display: block;
     text-decoration: none;
     color: #555555;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 14px;
     font-weight: 300;
     line-height: 20px;
 }
 
 .twit-date {
     color: #363636;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 12px;
     font-weight: 300;
     line-height: 20px;
 }
 
 .dribbble-widget {
     display: block;
     width: 280px;
     margin-top: 107px;
     margin-left: 33px;
 }
 
 .widget-header {
     color: #ffffff;
     font-family: 'raleway', 'Verdana', sans-serif;
     font-size: 24px;
     font-weight: 700;
 }
 
 .widget-images {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: 0 auto;
     margin-top: 16px;
 }
 
 .widget-img {
     padding-right: 10px;
     padding-top: 10px;
 }
 
 .widget-img:hover {
     filter: brightness(40%);
 }
 
 .copyrights {
     width: 100%;
     background-color: #111111;
     display: flex;
     box-sizing: border-box;
     padding-top: 45px;
     padding-left: 376px;
     padding-right: 374px;
     padding-bottom: 52px;
 }
 
 .copyrights-menu {
     display: flex;
     margin-right: 449px;
 }
 
 .copyrights-info {
     display: block;
     color: #555555;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 13px;
     font-weight: 300;
     line-height: 20px;
 }
 
 .waxom-link {
     display: block;
     text-decoration: none;
     color: #959595;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 13px;
     font-weight: 300;
     line-height: 20px;
     margin-right: 10px;
 }
 
 .copyrights-link {
     display: block;
     text-decoration: none;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 13px;
     font-weight: 300;
     line-height: 20px;
     color: #555555;
     height: 20px;
 }
 
 .copyrights-link:after {
     content: "";
     border-right: 1px solid #252525;
     margin-left: 10px;
     margin-right: 10px;
 }
 
 .copyrights-link:last-child:after {
     border-right: 1px solid transparent;
     margin-right: 0;
 }
 
 .waxom-link:hover,
 .copyrights-link:hover {
     color: #c7b299;
 }
 
 .waxom-link:active,
 .copyrights-link:active {
     color: #B0C4DE;
 }
 
 .design {
     display: flex;
 }
 
 .design-link {
     display: block;
     text-decoration: none;
     color: #555555;
     font-family: 'montserrat', 'Verdana', sans-serif;
     font-size: 13px;
     font-weight: 300;
     line-height: 20px;
 }
 
 .design-link:first-child:after {
     content: "";
     border-left: 1px solid #252525;
     margin-left: 10px;
 }
 
 .design-link:last-child {
     margin-left: 10px;
 }
 
 .design-link:hover {
     color: #c7b299;
 }
 
 .design-link:active {
     color: #B0C4DE;
 }
 
 @media screen and (max-width: 575.98px) {
     body {
         width: 100%;
     }
     .header {
         height: auto;
         padding-bottom: 20px;
     }
     .main-header {
         display: none;
     }
     .arrow,
     .slides {
         display: none;
     }
     .logo-link {
         margin-left: 20px;
         margin-top: 10px;
     }
     label {
         display: block;
         width: 50px;
         height: 50px;
         background-image: url(../img/mobile-menu-icon.png);
         background-size: 100%;
         position: absolute;
         top: 18px;
     }
     .header-menu {
         visibility: hidden;
         position: absolute;
         left: 0;
         top: 75px;
         margin: 0 auto;
         height: auto;
         flex-direction: column;
         padding: 0;
         width: 100%;
     }
     .header-menu li {
         height: 40px;
         text-align: center;
         background-color: #3b2921;
         margin-top: 2px;
         padding-top: 20px;
     }
     .purchase {
         display: none;
     }
     .services {
         display: flex;
         flex-wrap: wrap;
     }
     .link-services {
         width: 50%;
         margin: 0 auto;
         padding-top: 20px;
     }
     .link-services:first-child {
         margin-left: 0;
     }
     .link-services:last-child {
         margin-right: 0;
     }
     .realization {
         display: none;
     }
     .ads {
         display: none;
     }
     .projects-menu {
         display: none;
     }
     .projects-preview {
         padding-left: 88px;
     }
     .load-more-btn {
         display: none;
     }
     .video-block {
         margin-top: 0;
     }
     .video {
         width: 100%;
         height: auto;
     }
     .video-controller {
         position: absolute;
         top: 40px;
         left: 20px;
         width: 500px;
     }
     .video-header {
         margin-top: 0;
     }
     .video-txt {
         display: none;
     }
     .time-video {
         display: none;
     }
     .mobile-app {
         width: 100%;
         background-position: left bottom;
         background-size: 250px 400px;
         padding-right: 0;
         padding-left: 0;
         padding-top: 20px;
         padding-bottom: 20px;
     }
     .mobile-app-header {
         text-align: center;
     }
     .mobile-app-txt {
         text-align: center;
     }
     .mobile-app-features {
         margin-left: 250px;
         margin-top: 55px;
     }
     .statistic {
         display: none;
     }
     .recent-posts {
         width: 100%;
         padding-top: 20px;
         padding-bottom: 0;
     }
     .recent-post-txt {
         width: 100%;
         margin: 0;
     }
     .previews {
         padding-left: 65px;
         flex-direction: column;
     }
     .recent-post-preview {
         padding-top: 15px;
     }
     .back,
     .next {
         display: none;
     }
     .logos {
         width: 100%;
         height: auto;
         padding-bottom: 30px;
     }
     .partner-logo {
         width: 120px;
     }
     .partner-logo-1 {
         margin-top: 60px;
         margin-left: 35px;
         width: 110px;
         height: 70px;
     }
     .partner-logo-2 {
         margin-top: 40px;
         margin-left: 45px;
         width: 110px;
         height: 120px;
     }
     .partner-logo-3 {
         margin-top: 55px;
         margin-left: 45px;
         width: 110px;
         height: 75px;
     }
     .partner-logo-4 {
         margin-top: 55px;
         margin-left: 45px;
         width: 110px;
         height: 80px;
     }
     .main-footer {
         display: none;
     }
     .copyrights {
         width: 100%;
         padding-top: 20px;
         padding-bottom: 20px;
         padding-left: 0;
         padding-right: 0;
         flex-direction: column;
         justify-content: center;
     }
     .copyrights-menu {
         margin: 0 auto;
     }
     .design {
         margin: 0 auto;
         padding-top: 10px;
     }
 }